<h1>Tweet Reaper</h1>

<div>
  {{ 'World' | greet }}
</div>


<% if params[:user] %>
  <h5>Here are tweets for <%= params[:user] %>
  <ul>
   <% @tweets.each do |tweet| %> 
    <li><%= tweet.text %></li>
   <% end %>
  </ul>
<% end %>

<% if params[:friend] %>
  <h5>Here are friends for <%= params[:friend] %>
  <ol>
    <% @friends.each do |friend| %>
      <li><%= friend %></li>
    <% end %>
  </ol>
<% end %>

<% if params[:friend1] && params[:friend2] %>
  <h5>Here are friends for <%= params[:friend1] %> & <%= params[:friend2] %>
  <ul>
    <% @intersection.each do |friend| %>
      <li><%= friend %></li>
    <% end %>
  </ul>
<% end %>