<div ng-app="formApp" ng-controller="formController">
  <form ng-submit="processForm()">
    <input type="text" size="70" ng-model="formData.name" placeholder="enter Twitter username">
    <button type="submit">
      enter
    </button>
  </form>
  <pre>
    {{ formData.name }}
  </pre>

  <ul>
    <li ng-repeat="tweet in tweets">
      {{tweet.text}}
    </li>
  </ul>
</div>
<ol>

<% if params[:name] %>
  <h5>Here are tweets for <%= params[:name] %>
  <ul>
   <% @tweets.each do |tweet| %> 
    <li><%= tweet.text %></li>
   <% end %>
  </ul>
<% end %>

<% if params[:friend] %>
  <h5>Here are friends for <%= params[:friend] %>
  <ol>
    <% @friends.each do |friend| %>
      <li><%= friend %></li>
    <% end %>
  </ol>
<% end %>

<% if params[:friend1] && params[:friend2] %>
  <h5>Here are friends for <%= params[:friend1] %> & <%= params[:friend2] %>
  <ul>
    <% @intersection.each do |friend| %>
      <li><%= friend %></li>
    <% end %>
  </ul>
<% end %>